.next {
  text-align: right;
}

#priceDiv {
  border: 2px solid #000;
  border-radius: 10px;
}

.cardContainer {
  display: flex;
  align-content: center;
}
#order-and-button {
  display: flex;
  justify-content: space-between;
}

#final-order {
  display: flex;
  justify-content: flex-start;
}

#form2image {
  position: absolute;
  display: inline-flex;
}
#myimage {
  position: relative;
  display: inline-flex;
}
.myText {
  position: relative;
  display: inline-flex;
}
#a-dalee {
  color: white;
}
