<img id="image" src="img.jpeg">
  <div>
    height
    <input id="height" type="text" placeholder="height">
  </div>
  <div>
    width
    <input id="width" type="text" placeholder="width">
  </div>
<button id="button">change</button>
